<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="naver-site-verification" content="" />
<meta name="description" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="회사소개-회사소개">
<meta property="og:description" content="">
<meta property="og:image" content="/img/common/logo.png">
<meta property="og:url" content="">
<title>アクセス</title>
<script src="/js/jquery-ui.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/topmenu_script.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/feather.min.js"></script>
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/css/sh_common.css">
<link rel="stylesheet" href="/css/sh_sub.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
</head>
<body>
	<div id="sh_wrapper" class="sub">
		<div th:insert="~{fragment/header :: header}"></div>
		<div id="sh_container">
			<div id="sh_container_wrapper">
				<div id="shSub">
					<div class="txt_area">
						<p　th:text="${title}"></p>
						<div>
							<a th:href="@{/}"><span class="sound_only">Home</span> <svg
									xmlns="http://www.w3.org/2000/svg" height="24"
									viewBox="0 -960 960 960" width="24">
									<path
										d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z"></path></svg></a>
							<i class="fa fa-angle-right"></i>会社概要<i class="fa fa-angle-right"　th:text="${title}"></i>
						</div>
					</div>
				</div>
				<ul id="shSnb">
					<li><a th:href="@{/submenu/introduction}">会社紹介</a></li>
					<li><a th:href="@{/submenu/ceo}">CEO紹介</a></li>
					<li class="on"><a th:href="@{/submenu/access}"　th:text="${title}"></a></li>
					<li><a th:href="@{/submenu/partner}">パートナー</a></li>
					<li><a th:href="@{/submenu/margin}">マージン</a></li>
				</ul>
				<div id="sh_content">
					<!-- 서브페이지 [s] -->
					<div id="greeting" class="pagecommon">
						<div class="tit_area" th:text="${title}"><br /></div>
						<div class="tit_area"><p th:text="${subtitle}"></p></div>			
				<div id="map" style="height: 500px;"><iframe id="map" class="map"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d964.0823666872412!2d139.66073472658078!3d35.6333068519835!3m2!1i1024!2i768!4f13!3m3!1m2!1s0x6018f4901d4a5e7d%3A0x40a44d6fa10838ed!2z44CSMTU0LTAwMTIg5p2x5Lqs6YO95LiW55Sw6LC35Yy66aeS5rKi77yS5LiB55uu77yS4oiS77yR77yWIOecn-S4reODk-ODqw!5e0!3m2!1sja!2sjp!4v1728453845334!5m2!1sja!2sjp"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe></div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="~{fragment/footer :: footer}"></div>
	</div>
	<script>
		AOS.init();
		feather.replace();

		$(window).on("scroll", function() {
			if ($(window).scrollTop() > 100) {
				$('#fix_tel').addClass('active');
			} else {
				$('#fix_tel').removeClass('active');
			}
			return false;
		});
	</script>
	

</body>
</html>

